{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">
<head>
    <meta charset="utf-8">
</head>
<body>
    <p id="archives">Article Archives for {{ month|date:"N, Y"}}</p>
    <ul>
        {% for date in date_list %}
        <a href="{% url 'news:day_archive' date|date:'Y' month|date:'m' date|date:'d' %}">{{ date|date:'d' }}</a>
        {% endfor %}
    </ul>

    <div>
        <ul>
            {% for article in object_list %}
            <li><strong>{{ article.pub_date|date:"m/d" }}&nbsp;&nbsp;&nbsp; 
            <a href="{{ article.get_absolute_url }}">{{ article.headline }}</strong></a></li>
            {% endfor %}
        </ul>
    </div>
</body>