{% extends 'base_generic.html' %}

{% block  content %}

<h2 class="all_title">{{ author }} </h2>
<h3>{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</h3>

<div style="margin-left:20px;margin-top:20px">
    <h3>Books</h3>

    <dl>
        {% for book in author.book_set.all %}
            <dt style="font-size:20px;"><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt>
            <dd style="font-size:15px;">{{book.summary}}</dd>
        {% endfor %}
    </dl>

</div>
{% endblock %}